Content/StarterContent/
Intermediate/
Saved/
Binaries/
GoldenEye.VC.VC.opendb
GoldenEye.VC.db
GoldenEye.sln
.vs/
Resources/
Build/WindowsNoEditor/FileOpenOrder/EditorOpenOrder.log
Build/WindowsNoEditor/FileOpenOrder/CookerOpenOrder.log
